.right{
    padding-left: 30px;
    width: 25%;
    
    .right__position{
        position: sticky;
        top: 0;
        .right-main{
            background-color: rgb(247, 249, 249);
            padding: 0 16px;
            border-radius: 20px;
            .aside{
                display: flex;
                padding: 4px ;
                justify-content: space-between;
                aside{
                    display: flex;
                    .aside-avatar{
                        margin-right: 12px;
                        img{
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                        }
                    }
                    .aside-name{
                        a{
                            color: black;
                            text-decoration: none;
                            font-weight: 700;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .aside__span{
                    display: flex;
                    align-items: center;
                    span{
                        padding: 5px 10px;
                        border-radius: 15px;
                        background-color: black;
                        color: white;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.03);
                }
            }
            .asideBot{
                padding: 4px 0;
                p{
                    margin: 0 !important;
                    font-weight: 700;
                }
                &:hover{
                    background-color: rgba(0, 0, 0, 0.03);
                }
            }
            
        }
    }
    
}
// screen 1280px
@media only screen and (max-width:1280px) {
    .right{
        width: 28%;
    }
}
// screen surface Duo 768px
@media only screen and (max-width:768px) {
    .right{
        display: none;
    }
}