@import './Commons/Header/HeaderOption.scss';
@import './Commons/Header/Header.scss';
@import './Components/Main/Home.scss';
@import './Commons/Right/RightMain.scss';
@import './Components/Profile/Profile.scss';
@import './Components/Login/Log.scss';
@import './Components/TodoList/TodoList.scss';


.app{
  .container {
    display: flex;
  //   padding-left: 10%;
  //   padding-right: 6%;
  }
}
.icon__deletePost{
  display: flex;
  padding: 5px;
  align-items: center;
  span{
    margin-left:10px ;
  }
}
.icon__logout{
  width: 150px;
  height: 50px;
  display: flex;
  background-color: $bg-hover;
  color: rgb(228, 141, 27);
  justify-content: center;
  align-items: center;
}