@import './Commons/Header/HeaderOption.scss';
@import './Commons/Header/Header.scss';
@import './Pages/Main/Home.scss';
@import './Commons/Right/RightMain.scss';
@import './Pages/Profile/Profile.scss';
@import './Pages/Login/Log.scss';
@import './Pages/TodoList/TodoList.scss';
@import './Components/EditProfile/EditProfile.scss';

.app{
  .container {
    display: flex;
  //   padding-left: 10%;
  //   padding-right: 6%;
  }
}
.icon__deletePost{
  display: flex;
  padding: 5px;
  align-items: center;
  span{
    margin-left:10px ;
    svg{
      &:hover{
        transform: rotate(180deg);
        transition-duration: 2s;
        color: brown;
        cursor: pointer;
      }
    }
  }
}
.icon__logout{
  width: 150px;
  height: 50px;
  display: flex;
  background-color: $bg-hover;
  color: rgb(228, 141, 27);
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}