.follow{
    .follow-top{
        align-items: center;
        display: flex;
        padding: 0 16px;
        .follow__topL{
            padding-right: 16px;
            .pr-icon{
                border-radius: 50%;
                padding: 5px;
                &:hover{
                    background-color: $bg-hover;
                }
            }
        }
        div{
            
            span{
                display: block;
            }
        }
    }
    .follow-main{
        display: flex;
        align-items: center;
        a{
            width: 50%;
            text-align: center;
            padding: 15px 0;
            color: rgb(83, 100, 113);
            font-weight: 600;
            text-decoration: none;
            &:hover{
                background-color: $twitter-background;
            }
        }
    }
}
.aside{
    display: flex;
    padding: 4px ;
    justify-content: space-between;
    aside{
        display: flex;
        .aside-avatar{
            margin-right: 12px;
            img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
        }
        .aside-name{
            a{
                color: black;
                text-decoration: none;
                font-weight: 700;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .aside__span{
        display: flex;
        align-items: center;
        span{
            padding: 5px 10px;
            border-radius: 15px;
            background-color: black;
            color: white;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.03);
    }
}