
.profile{
    .profile-top{
        height: 53px;
        align-items: center;
        display: flex;
        padding: 0 16px;
        border-bottom: 2px solid $border-bottom;
        .profile__topL{
            padding-right: 16px;
            .pr-icon{
                border-radius: 50%;
                padding: 5px;
                &:hover{
                    background-color: $bg-hover;
                }
            }
        }
        div{
            
            span{
                display: block;
            }
        }
    }

    .profile-main{
        .profile-mainTop{
            height: 200px;
            background-color: tan;
        }
        .profile-mainBot{
            padding:12px 16px;
            
            .profile-mainBot__avatar{
                height: 48px;
                display: flex;
                justify-content: space-between;
                img{
                    width: 133px;
                    height: 133px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-top: -82.5px;
                    border: 3px solid white;
                }
                div{
                    padding-top: 5px;
                    a{
                        padding: 5px 10px;
                        border: 1px solid grey;
                        border-radius: 20px;
                        text-decoration: none;
                        color: black;
                        font-weight: 700;
                        &:hover{
                            background-color: $bg-hover;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }
    }
}
// 
.pr-uName{
    font-weight: 700;
    font-size: 20px;
    display: block;
}
.pr-count{
    font-size: 12px;
    display: block;
}