.main{
    .note-top{
        border-bottom: 1px solid $border-bottom;
       div{
           padding: 16px 12px;
           font-size: 20px;
           span{
            font-weight: 700;
           }
       }
    }
    .note-main{
        display: flex;
        padding: 16px;
        .note-mainL{
            width: 10%;
            span{
                svg{
                    width: 100%;
                    height: 100%;
                    color: blueviolet;
                }
            }
        }
        .note-mainR{
            width: 88%;
            .note-mainR-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                }
            }
        }
        &:hover{
            background-color: $bg-hover;
        }
    }
}

